
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
        <head>
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
        <th:block th:each="liste : ${listemvt}">          
                <p th:text="${liste.id}"></p>            
        </th:block>
    </body>
</html>
